html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #EDFCFB;
    font-family: "Book Antiqua", serif;
    color: #3a2a16;
}
#container {
    margin: 0 auto;
}
header {
    background-color: #7A4B2A;
    color: #fff;
    position: relative;
}
#award {
    text-align: center;
    padding: 0.75em 0 0.25em;
}
#award img {
    max-width: 120px;
    height: auto;
}
#banner {
    background-image: url("nav.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 2.5em 1em 1.5em;
}

#banner h1 {
    margin: 0;
    font-family: "Marko One", Georgia, serif;
    font-size: 2em;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.45);
}
.tagline {
    display: none;
    margin-top: 0.4em;
    font-style: italic;
}
nav {
    background-color: #7A4B2A;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
}
nav ul li {
    flex: 1 1 50%;
    text-align: center;
}
nav ul li a {
    display: block;
    margin: 0.4em;
    padding: 0.45em 0.8em;

    border: 1px solid #E7A64B;
    border-radius: 0.5em;
    background-color: rgba(255, 215, 160, 0.4);

    color: #fff;
    font-family: Tahoma, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #E7A64B;
    color: #3d260f;
}
main {
    padding: 1.5em 1em;
}
main h2 {
    font-family: "Stint Ultra Expanded", Georgia, serif;
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.feature {
    clear: both;
}
.feature h3 {
    font-family: "Stint Ultra Expanded", Georgia, serif;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #7A4B2A;
    margin-bottom: 0.5em;
}
.feature img {
    width: 70%;
        max-width: 230px;
        height: auto;
        display: block;
        margin: 0.5em auto;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
.feature p {
    line-height: 1.5em;
    margin: 0 0 0.6em;
}
.feature p.more {
    font-size: 0.85em;
}
.feature p.more a {
    text-decoration: none;
    color: #c05575; 
    border-bottom: 1px dotted #c05575;
}
aside {
    background-color: #F6F3ED;
    margin: 0;
    padding: 1em 1.5em 1.5em;
    border-top: 10px solid #f3e2d2;
}
aside h2 {
    font-family: "Stint Ultra Expanded", Georgia, serif;
    font-size: 1.2em;
    margin-top: 0;
}

aside dl {
    margin: 0;
}

aside dt {
    font-weight: bold;
    font-family: Tahoma, sans-serif;
    font-size: 0.85em;
    margin-top: 0.5em;
}

aside dd {
    margin: 0;
    font-size: 0.85em;
}

footer {
    background-color: #7A4B2A;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-size: 0.8em;
}
@media screen and (min-width: 400px) {
    nav ul li {
        flex: none;
    }
    nav ul {
        justify-content: center;
    }
}
@media screen and (min-width: 480px) {
    .feature img {
        float: left;
        width: 45%;
        max-width: 230px;
        height: auto;
        margin: 0 1.2em 1em 0; 
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    }
}

@media screen and (min-width: 600px) {
    header .tagline {
        display: block;
        margin-top: -1.3em;
        font-family: Georgia, serif;
        font-style: italic;
        font-size: 1.1em;
    }

    main, h2, h3 {
        font-family: 'Stint Ultra Expanded', Georgia, serif;
    }

    h2, h3 {
        font-weight: bold;
    }

    main {
        line-height: 1.8em;
        padding: 1em;
        border: double 4px #EADDC4;
        border-radius: 25px;
        margin: 2.5%;
        background-color: #fffdf6;
    }
}
@media screen and (min-width: 940px) {

    #container {
        display: grid;
        grid-template-rows: auto minmax(0, 1fr) 5em;
        grid-template-columns: minmax(25em, 1fr) 18em;
        grid-template-areas:
            "banner banner"
            "main   hours"
            "footer footer";
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        background-color: #EDFCFB;
    }

    header {
        grid-area: banner;
    }

    main {
        grid-area: main;
        margin: 2em 2em 2em 2.5em;
    }

    aside {
        grid-area: hours;
        background: url("scallop.png") repeat-y left top;
	background-size: contain;
        background-color: #F6F3ED;
        padding: 1em;
        padding-left: 45px;
        margin: 2em 2.5em 2em 0;
    }

    footer {
        grid-area: footer;
    }
    #award {
        position: absolute;
        top: 30px;
        left: 50px;
        padding: 0;
    }
}
