html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
    margin: 0;
    background-color: #EDFCFB;
    font-family: "Book Antiqua", serif;
}
.hero {
    background-image: url("nav.png");
    background-size: cover;
    background-position: center;
    padding-bottom: 1em;
    text-align: center;
    position: relative;
}
.nav-bar {
    background-color: #7A4B2A;
    padding: 0.2em 0;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0.4em;
}

nav ul li a {
    display: block;
    border: 1px solid #E7A64B;
    border-radius: 0.5em;
    padding: 0.5em 1.2em;
    background-color: rgba(255, 215, 160, 0.4);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-family: Tahoma, sans-serif;
}

nav ul li a:hover {
    background-color: #E7A64B;
    color: #3d260f;
}
.site-title {
    margin-top: 0.7em;
    font-family: "Marko One", Georgia, serif;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    letter-spacing: 2px;
}
main {
    padding: 2em 15%;
}
h2 {
    font-family: Tahoma, sans-serif;
    text-transform: uppercase;
    color: #7A4B2A;
}
